.heart{
    height: 500px;

    position: relative;

}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  body {
    background-color: black;
    margin: auto;
    width: 640px; 
    padding: 100px;
    font-family: 'Arial', sans-serif; 
    color: white;    
  }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 24px;
  }
  button{
    width: px;
    height: px;
    color:black;
    background-color: white;
    border: 3px solid red;
    padding: 16px;
  
  }
